<div id="button-display">
    <button onclick="newFormHandler()"></button>
</div>

{{#each userInfo }}
<div class="home-blog">
  <div class="home-row ">
      <a class="home-text" href="/blog/{{id}}">{{username}}</a>
    <p class="home-text">Created by {{user.username}} on {{format_date date_created}}</p>
  </div>
  <p class="home-content">{{content}}</p>
</div>
{{/each}}

<script src="/js/post.js"></script>